<footer class="border-top py-auto">
    <div class="f-info">
        <div class="f-info-socials mb-2" >
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="mb-2">
        &copy; WanderLust Private Limited
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a> &emsp;&emsp;
            <a href="">Terms & Condition</a>
        </div>
    </div>
</footer>