<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i>WanderLust</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"  >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" data-bs-toggle="collapse" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
          <form class="d-flex d-none d-lg-block" role="search">
            <input 
            class="form-control me-2 rounded-pill"
            placeholder="Search destination"
            aria-label="Search"
            type="search">
            <button class="btn btn-outline-danger btn-search rounded-pill px-4" type="submit">Submit</button>
          </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add yours</a>        
        <% if (!currUser) { %>
          <a class="nav-link" data-bs-toggle="collapse"  href="/signup"><b>SignUp</b></a>
          <a class="nav-link" data-bs-toggle="collapse" href="/login"><b>LogIn</b></a>
        <% } %>

        <% if (currUser) { %>
          <a class="nav-link" data-bs-toggle="collapse" href="/logout"><b>LogOut</b></a>        
        <% } %>

        
         
      </div>
    </div>
  </div>
</nav>