<% layout("./layouts/boilerplate") -%>

    <div class="row mt-3">
      <div class="col-6 offset-3">
          <h1 class="text-center">SignUp - WanderLust</h1>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div>
                    <label for="username" class="form-label">Username</label>
                    &emsp;
                    <input
                      type="text"
                      name="username"
                      id="username"
                      placeholder="Enter the username"
                      class="form-control"
                      required
                    />
                    <div class="invalid-feedback">Please enter username</div>
                  </div>

                  <div>
                    <label for="email" class="form-label">Email</label>
                    &emsp;
                    <input
                      type="email"
                      name="email"
                      id="email"
                      placeholder="Enter the email address"
                      class="form-control"
                      required
                    />
                    <div class="invalid-feedback">Please enter your email address </div>
                  </div>

                  <div>
                    <label for="password" class="form-label">Password</label>
                    &emsp;
                    <input
                      type="password"
                      name="password"
                      id="password"
                      placeholder="Enter the password"
                      class="form-control"
                      required
                    />
                    <div class="invalid-feedback">Please enter password</div>
                  </div>
                  
                  <button class="btn btn-success mt-3"> SignUp</button>
            </form>
        </div>
    </div>
</body>
